.dev-process{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feature-branch, .develop-branch, .main-branch {
    margin-top: 50px;
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 居中對齊 */
}

.feature, .develop, .main {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.subtitle{
    margin-bottom: 50px;
}

/* 分別為不同分支設置背景顏色 */
.feature {
    background-color: blue;
}

.develop {
    background-color: rgb(177, 133, 2);
}

.main {
    background-color: black;
}

/* 垂直線條設置 */
.line1 {
    width: 2px; /* 垂直線的寬度 */
    height: 30px; /* 控制垂直線的長度 */
    background-color: black; /* 線的顏色 */
}

.line2 {
    width: 2px; /* 垂直線的寬度 */
    height: 90px; /* 控制垂直線的長度 */
    background-color: black; /* 線的顏色 */
}

.line3 {
    width: 2px; /* 垂直線的寬度 */
    height: 200px; /* 控制垂直線的長度 */
    background-color: black; /* 線的顏色 */
}

.arc1{
    z-index: -1;
    transform: translateX(-35px) translateY(-40px) rotate(-15deg);
    position: absolute;
    width: 160px;
    height: 200px;
    border: 2px solid transparent;
    border-top: 2px solid rgb(17, 0, 255);
    border-radius: 80px;
}

.arc2{
    z-index: -1;
    transform: translateX(-50px) translateY(-70px) rotate(0deg);
    position: absolute;
    width: 160px;
    height: 200px;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(17, 0, 255);
    border-radius: 80px;
}

.arc3{
    z-index: -1;
    transform: translateX(-100px) translateY(160px) rotate(30deg);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
    border-top: 2px solid rgb(17, 0, 255);
    border-radius: 100px;
}

.arc4{
    z-index: -1;
    transform: translateX(-20px) translateY(160px) rotate(30deg);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(17, 0, 255);
    border-radius: 100px;
}

.arc5{
    z-index: -1;
    transform: translateX(80px) translateY(200px) rotate(15deg);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 100px;
}

.arc6{
    z-index: -1;
    transform: translateX(25px) translateY(85px) rotate(30deg);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
    border-top: 2px solid rgb(255, 0, 0);
    border-radius: 100px;
}

.arc7{
    z-index: -1;
    transform: translateX(100px) translateY(-90px) rotate(-25deg);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
    border-top: 2px solid rgb(255, 0, 0);
    border-radius: 100px;
}
