.Button {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    user-select: none;
}

.button1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #CDD5AE; /* 初始背景顏色 */
    color: #806345;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E9EDCA;
    color: #806345;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: rgb(165, 206, 242);
}

.button2:hover {
    background-color: rgb(93, 213, 191);
}

@media(max-width: 577px) {
    .Button {
        margin-top: 20px;
    }
    
    .button1 {
        width: 50px;
        height: 13px;
        font-size: 10px;
    }
    
    .button2 {
        width: 80px; 
        margin-left: 20px;
        height: 13px;
        font-size: 10px;
    }
}

@media(min-width: 578px) and (max-width: 991px) {
    .Button {
        margin-top: 20px;
    }
    
    .button1 {
        width: 100px;
        height: 20px;
        font-size: 15px;
    }
    
    .button2 {
        width: 150px; 
        margin-left: 20px;
        height: 20px;
        font-size: 15px;
    }
}

@media(min-width: 992px) {
    .Button {
        margin-top: 37px;
    }
    
    .button1 {
        width: 200px;
        height: 40px;
        font-size: 24px;
    }
    
    .button2 {
        width: 200px; 
        margin-left: 20px;
        height: 40px;
        font-size: 24px;
    }
}