.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8rem 0;
    margin: 8rem 0;
}

.home::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
}

.home::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
}

.home::before, 
.home::after {
    content: "";
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
}

.home-description {
    margin: 30px 120px 0px 0px;
    line-height: 70px;
}

.home-description h1 {
    font-size: 3em;
}

.home-description p {
    padding-left: 5px;
}

.logo {
    position: relative;
}

@media (prefers-color-scheme: dark) {  
    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@media (max-width: 700px) {
    .home {
        padding: 8rem 0 6rem;
    }

    .home::before {
        transform: none;
        height: 300px;
    }
}