.projectReviewContainer{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.introTitle{
    font-size: 30px;
    text-align: center;
    color: #d3a373;
    margin-block: 30px;
}

.introTitle::after{
    content: '';
    width: 75%;
    height: 1px;
    display: block;
    margin: auto;
    padding: 1px;
    border-bottom: 2px solid #888;
}

.projectReviewView{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}


.purplePotatoContainer{
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2vh;
    border:#C4BAB1 5px outset;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.purplePotatoContainer:hover{
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

.purplePotatoView{  
    width: 55vh;
    height: 50vh;
    border-radius: 8px;
    text-align: center;
}

.pic{
    width: 55vh;
    height: 22vh;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.title{
    margin-top: 10px;
    font-size: 30px;
    color:#d3a373;
    text-align: center;
}

.description{
    margin-block: 15px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #D3A373;
    text-align: center;
}

@media(max-width: 600px) {
    
    .title{
        margin-top: 5px;
        font-size: 15px;
        color:#d3a373;
        text-align: center;
    }
    
    .description{
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: #D3A373;
        text-align: center;
    }
}